<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <link rel="stylesheet" href="https://wujiawei0926.gitee.io/treeselect/assets/layui/css/layui.css">
    <script src="https://wujiawei0926.gitee.io/treeselect/assets/layui/layui.js"></script>
    <script src="https://wujiawei0926.gitee.io/treeselect/module/common.js"></script>
</head>
<body>
    <div class="main-content">
        <form class="form-horizontal" id="form-information-add">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">所属集团部门标识码：</label>
                        <div class="col-sm-8">
                            <select name="groupCode" th:with="type=${@dict.getType('org_code')}" required class="form-control">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">所属集团单位名称：</label>
                        <div class="col-sm-8">
                            <input name="groupName" placeholder="所属集团单位名称" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">公司名称：</label>
                        <div class="col-sm-8">
                            <input name="companyName" placeholder="请输入公司名称" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">法定代表人：</label>
                        <div class="col-sm-8">
                            <input name="legalPerson" placeholder="法定代表人" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">统一社会信用代码：</label>
                        <div class="col-sm-8">
                            <input name="socialCode" placeholder="统一社会信用代码" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">组织形式：</label>
                        <div class="col-sm-8">
                            <input name="organizationalForm" type="text" id="organizationalForm" lay-filter="organizationalForm" class="layui-input" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">是否工商注册：</label>
                        <div class="col-sm-8">
                            <select name="isRegistration"  class="form-control">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">邮政编码：</label>
                        <div class="col-sm-8">
                            <input name="postcode" placeholder="邮政编码" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">注册地：</label>
                        <div class="col-sm-8">
                            <input name="placeRegistration" placeholder="注册地" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">住所：</label>
                        <div class="col-sm-8">
                            <input name="residence" placeholder="住所" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">注册资本：</label>
                        <div class="col-sm-8">
                            <input id="registeredCapital" name="registeredCapital" placeholder="注册资本" class="form-control" type="text"  required number="true">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">成立日期：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <input name="foundDate" placeholder="yyyy-MM-dd" class="form-control" type="text"  required>
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">机构类别：</label>
                        <div class="col-sm-8">
                            <!--<input name="organizationCategory" placeholder="机构类别" class="form-control" type="text"  required>-->
                            <input name="organizationCategory" type="text" id="organizationCategory" lay-filter="organizationCategory" class="layui-input" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">国有类型：</label>
                        <div class="col-sm-8">
                            <select name="stateOwnedWay" th:with="type=${@dict.getType('org_own_type')}" required class="form-control">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">最大国有出资人代码：</label>
                        <div class="col-sm-8">
                            <input name="investorCode" placeholder="最大国有出资人代码" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">所属行业代码：</label>
                        <div class="col-sm-8">
                            <!--<input name="industryCode" placeholder="所属行业代码" class="form-control" type="text"  required>-->
                            <input name="industryCode" type="text" id="industryCode" lay-filter="industryCode" class="layui-input" required>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">隶属关系标识码：</label>
                    <div class="col-sm-8">
                        <input name="subjectionCode" placeholder="隶属关系标识码" class="form-control" type="text"  required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">级次标识码：</label>
                    <div class="col-sm-8">
                        <select name="gradeCode" th:with="type=${@dict.getType('level_code')}" required class="form-control">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">是否重点子公司：</label>
                    <div class="col-sm-8">
                        <select name="isKeySubsidiary"  class="form-control" required>
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">是否正常经营：</label>
                    <div class="col-sm-8">
                        <select name="isNormalOperation"  class="form-control" required>
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">非正常经营说明：</label>
                    <div class="col-sm-8">
                        <textarea name="operationDescription" placeholder="非正常经营说明" class="form-control"  required></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">出资情况备注：</label>
                    <div class="col-sm-8">
                        <textarea name="contributionRemarks" placeholder="出资情况备注" class="form-control" required></textarea>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">经营范围：</label>
                        <div class="col-sm-8">
                            <textarea name="businessScope" placeholder="经营范围" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
            </div>
        </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/information";
        jQuery.validator.addMethod("isMyNumber", function(value, element) {
            var num = /^\d{1,16}(\.\d{1,2})?$/
            return this.optional(element) || (num.test(value));
        }, "数字不能大于16位整数,两位小数");
        $("#form").validate({
            focusCleanup: true,
            rules: {
                registeredCapital: {
                    required: true,
                    isMyNumber: true
                }
            },
            messages: {
                registeredCapital: {
                    required: "请输入注册资本",
                    isMyNumber: "数字不能大于16位整数，2位小数"
                }
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-information-add').serialize());
            }
        }

        $("input[name='foundDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='economicBehaviorDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='policyDecisionDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

    </script>
    <script>
        var prefix = ctx + "system/information"
        layui.use(['treeSelect','form'], function () {
            var treeSelect= layui.treeSelect;
            treeSelect.render({
                // 选择器
                elem: '#organizationalForm',
                // 异步加载方式：get/post，默认get
                type: 'get',
                // 数据
                data: prefix + "/getBusinessDateLevel/2/1",
                // 占位符
                placeholder: '组织形式',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                // 点击回调
                click: function(d){
                    console.log(d.current.name);
                    $("#organizationalForm").val(d.current.name);
                },
                // 加载完成后的回调函数
                success: function (d) {
                    console.log(d);
//                选中节点，根据id筛选
//                treeSelect.checkNode('tree', 3);

//                获取zTree对象，可以调用zTree方法
//                var treeObj = treeSelect.zTree('tree');
//                console.log(treeObj);

//                刷新树结构
//                treeSelect.refresh();
                }
            });

            treeSelect.render({
                // 选择器
                elem: '#organizationCategory',
                // 异步加载方式：get/post，默认get
                type: 'get',
                // 数据
                data: prefix + "/getBusinessDateLevel/2/1",
                // 占位符
                placeholder: '机构类别',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                // 点击回调
                click: function(d){
                    console.log(d.current.name);
                    $("#organizationCategory").val(d.current.name);
                },
                // 加载完成后的回调函数
                success: function (d) {
                    console.log(d);
//                选中节点，根据id筛选
//                treeSelect.checkNode('tree', 3);

//                获取zTree对象，可以调用zTree方法
//                var treeObj = treeSelect.zTree('tree');
//                console.log(treeObj);

//                刷新树结构
//                treeSelect.refresh();
                }
            });

            treeSelect.render({
                // 选择器
                elem: '#industryCode',
                // 异步加载方式：get/post，默认get
                type: 'get',
                // 数据
                data: prefix + "/getBusinessDateLevel/3/1",
                // 占位符
                placeholder: '所属行业代码',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                // 点击回调
                click: function(d){
                    console.log(d.current.name);
                    $("#industryCode").val(d.current.name);
                },
                // 加载完成后的回调函数
                success: function (d) {
                    console.log(d);
//                选中节点，根据id筛选
//                treeSelect.checkNode('tree', 3);

//                获取zTree对象，可以调用zTree方法
//                var treeObj = treeSelect.zTree('tree');
//                console.log(treeObj);

//                刷新树结构
//                treeSelect.refresh();
                }
            });




        });
    </script>
</body>
</html>